[defaults]
inventory = inventory/example/hosts.yml
roles_path = roles
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
result_format = yaml
retry_files_enabled = False

[ssh_connection]
pipelining = True
